* {
  box-sizing: border-box;
}

body {
  width: 60%;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header img {
  width: 250px;

}

header nav {
  display: flex;
  width: 100%;
}

header nav ul {
  display: flex;
  width: 100%;
  justify-content: space-between
}